<%= provide :title, t("common.title") %>

<section class="bg-light text-center">
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <%= render collection: @courses, partial: "static_pages/course" %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"><%= t "common.previous" %></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"><%= t "common.next" %></span>
      </a>
    </div>
  </div>
  <div>
    <%= link_to t("button.more_courses"), user_courses_path(page: 1) %>
  </div>
</section>
