<nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-light ftco-navbar-dark shadow" id="fixed-nav">
  <div class="container">
    <span>
      <%= link_to admin_root_path, {class: "nav-link"} do %>
        <%= image_tag Settings.logo_image, class: "logo" %>
      <% end %>
    </span>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t("common.account") %> <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t("common.profile"),
                edit_user_registration_path(current_user.id),
                class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to t("common.logout"),
                destroy_user_session_path,
                method: :delete,
                class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item cta">
            <%= link_to t("common.sign_in"),
              new_user_session_path ,
              {class:"nav-link ml-lg-2"} %>
          </li>
          <li class="nav-item cta">
            <%= link_to t("common.sign_up"),
              new_user_registration_path ,
              {class:"nav-link ml-lg-2"} %>
          </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
            <%= t "common.language" %> <b class="caret"></b>
            <span>
              <%= image_tag "flag_uk.png", class: "locale-logo" if locale.eql? :en %>
              <%= image_tag "flag_vn.png", class: "locale-logo" if locale.eql? :vi %>
            </span>
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <%= link_to class: "dropdown-item", locale: :en do %>
              <div>
                <%= image_tag "flag_uk.png", class: "locale-logo" %>
                <%=  t "locales.english" %>
              </div>
            <% end %>
            <%= link_to class: "dropdown-item", locale: :vi do %>
              <div>
                <%= image_tag "flag_vn.png", class: "locale-logo" %>
                <%=  t "locales.vietnamese" %>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
