<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :email, t("field.email") %>
    <%= f.email_field :email, class: "form-control" %>
    <%= display_error f.object, :email, t("field.email") %>
  </div>

  <div class="form-group">
    <%= f.label :password, t("field.password") %>
    <%= f.password_field :password, class: "form-control" %>
    <%= display_error f.object, :password, t("field.password") %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t("field.confirm_password") %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= display_error f.object, :password_confirmation, t("field.password_confirmation") %>
  </div>

  <%= f.fields_for :user_detail do |form| %>
    <%= render "user_detail_form", form: form %>
  <% end %>

  <% if current_user&.admin? %>
    <div class="form-group">
      <%= f.label :role, t("user.role") %>
      <%= f.collection_select :role, User.roles.keys, :to_s, :to_s %>
    </div>
  <% end %>

  <div class="form-button">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <%= link_to t("common.cancel"), admin_users_path, {class: "btn btn-light"} %>
  </div>
<% end %>
