<div class="form-group">
  <%= form.label :name do %>
    <%= t "field.name" %><span> *</span>
  <% end %>
  <%= form.text_field :name, class: "form-control" %>
  <%= display_error form.object, :name, t("field.name") %>
</div>

<div class="form-group">
  <%= form.label :birthday do %>
    <%= t "field.birthday" %><span> *</span>
  <% end %>
  <%= form.date_field :birthday, class: "form-control" %>
  <%= display_error form.object, :birthday, t("field.birthday") %>
</div>

<div class="form-group">
  <%= form.label :location, t("field.location") %>
  <%= form.text_field :location, class: "form-control" %>
  <%= display_error form.object, :location, t("field.location") %>
</div>

<div class="form-group">
  <%= form.label :workplace, t("field.workplace") %>
  <%= form.text_field :workplace, class: "form-control" %>
  <%= display_error form.object, :workplace, t("field.workplace") %>
</div>

<div class="form-group">
  <%= form.label :status, t("field.status") %>
  <%= form.collection_select :status, UserDetail.statuses.keys, :to_s, :to_s %>
</div>
