<%= form_tag courses_path, method: :get, remote: true do %>
  <div class="row">
    <div class="col-3 form-group">
      <%= label_tag :name, t("field.name") %>
      <%= text_field_tag :name, params[:name], class: "form-control", placeholder: t("placeholder.name") %>
    </div>
    <div class="col-3 form-group">
      <%= label_tag :description, t("field.description") %>
      <%= text_field_tag :description, params[:description], class: "form-control", placeholder: t("placeholder.description") %>
    </div>
    <div class="col-3 form-group">
      <%= label_tag :start_date, t("field.start_date") %>
      <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
    </div>
    <div class="col-3 form-group">
      <%= label_tag :end_date, t("field.end_date") %>
      <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
    </div>
    <div class="col-3 form-group">
      <%= label_tag :status, t("field.status") %>
      <%= select_tag :status,
          options_from_collection_for_select(Course.statuses.keys, :to_s, :to_s, params[:status]),
          include_blank: t("common.choose_role"),
          class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col justify-content-end">
      <%= submit_tag t("button.search"), class: "btn btn-success" %>
      <%= link_to t("button.reset"), courses_path, remote: true, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
