<% provide :title, t("common.courses") %>

<div class="container">
  <h2><%= t "common.courses" %></h2>
  <div class="search-border">
    <%= render "search_form" %>
  </div>
  <div>
    <%= link_to t("course.new"), new_course_path, {class: "btn btn-primary"} %>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t "field.num_order" %></th>
          <th scope="col"><%= t "field.name" %></th>
          <th scope="col"><%= t "field.description" %></th>
          <th scope="col"><%= t "field.status" %></th>
          <th scope="col"><%= t "field.estimate_time" %></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="courses">
        <%= render @courses %>
      </tbody>
    </table>
    <div class="paginator" id="courses-paginate">
      <%= paginate @courses, remote: true, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
