<%= search_form_for [:admin, @q], remote: true do |f| %>
  <div class="row">
    <div class="col-4 form-group">
      <%= f.label :email, t("field.email") %>
      <%= f.search_field :email_cont,
          class: "form-control",
          placeholder: t("placeholder.email") %>
    </div>
    <div class="col-4 form-group">
      <%= f.label :name, t("field.name") %>
      <%= f.search_field :user_detail_name_cont,
          class: "form-control",
          placeholder: t("placeholder.name") %>
    </div>
    <div class="col-4 form-group">
      <%= f.label :location, t("field.location") %>
      <%= f.search_field :user_detail_location_cont,
          class: "form-control",
          placeholder: t("placeholder.location") %>
    </div>
    <div class="col-4 form-group">
      <%= f.label :start_date, t("field.start_date") %>
      <%= f.date_field :created_at_gteq, class: "form-control" %>
    </div>
    <div class="col-4 form-group">
      <%= f.label :end_date, t("field.end_date") %>
      <%= f.date_field :created_at_lteq, class: "form-control" %>
    </div>
    <div class="col-4 form-group">
      <%= f.label :birthday, t("field.birthday") %>
      <%= f.date_field :birthday_eq, class: "form-control" %>
    </div>
    <div class="col-4 form-group">
      <%= f.label :role, t("field.role") %>
      <%= f.select :role,
          options_from_collection_for_select(User.roles.keys, :to_s, :to_s, @q.role),
          {include_blank: t("common.choose_role")},
          {class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="col justify-content-end">
      <%= f.submit t("button.search"), remote: true, class: "btn btn-success" %>
      <%= link_to t("button.reset"), admin_users_path, remote: true, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
