<%= form_for [:admin, @course] do |f| %>
  <div class="form-group">
    <%= f.label :name do %>
      <%= t "field.name" %><span> *</span>
    <% end %>
    <%= f.text_field :name, class: "form-control", autofocus: true %>
    <%= display_error f.object, :name, t("field.name") %>
  </div>

  <div class="form-group">
    <%= f.label :status, t("field.status") %>
    <%= f.collection_select :status, Course.statuses.keys, :to_s, :to_s %>
    <%= display_error f.object, :status, t("field.status") %>
  </div>

  <div class="form-group">
    <%= f.label :description do %>
      <%= t "field.description" %><span> *</span>
    <% end %>
    <%= f.text_area :description, class: "form-control" %>
    <%= display_error f.object, :description, t("field.description") %>
  </div>

  <div class="form-group">
    <%= f.label :estimate_time, t("field.estimate_time") %>
    <%= f.date_field :estimate_time, class: "form-control" %>
    <%= display_error f.object, :estimate_time, t("field.estimate_time") %>
  </div>

  <div class="form-group">
    <%= f.label :status, t("field.status") %>
    <%= f.collection_select :status, Course.statuses.keys, :to_s, :to_s %>

    <%= f.label :category_ids %>
    <%= f.select :category_ids,
      options_for_select(categories.map{|id, name|
        [id, name]},
        @course.categories.pluck(:id)),
      {include_blank: true},
      {class: "chosen-select", multiple: "true"} %>
  </div>

  <h4><%= t "common.lecture" %></h4>
  <%= f.fields_for :course_lecture do |builder| %>
    <%= render "course_lecture_fields", f: builder %>
  <% end %>

  <div class="links">
    <%= link_to_add_association t("course.lecture.add"), f,
                                :course_lecture,
                                {id: "sub-field", class: "btn btn-primary"} %>
  </div>

  <div class="right">
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-right" %>
    <%= link_to t("common.cancel"),
      admin_courses_path,
      {class: "btn btn-light btn-right"} %>
  </div>
<% end %>
