<%= search_form_for [:admin, @q], remote: true do |f| %>
  <div class="row">
    <div class="col-3 form-group">
      <%= f.label :name, t("field.name") %>
      <%= f.search_field :name_cont,
          class: "form-control",
          placeholder: t("placeholder.name") %>
    </div>
    <div class="col-3 form-group">
      <%= f.label :description, t("field.description") %>
      <%= f.search_field :description_cont,
          class: "form-control",
          placeholder: t("placeholder.description") %>
    </div>
    <div class="col-3 form-group">
      <%= f.label :start_date, t("field.start_date") %>
      <%= f.date_field :created_at_gteq,
          class: "form-control input-sm",
          datepicker: true %>
    </div>
    <div class="col-3 form-group">
      <%= f.label :end_date, t("field.end_date") %>
      <%= f.date_field :created_at_lteq,
          class: "form-control input-sm",
          datepicker: true %>
    </div>
    <div class="col-3 form-group">
      <%= f.label :status, t("field.status") %>
      <%= f.select :status,
          options_from_collection_for_select(Course.statuses.keys, :to_s, :to_s, @q.status),
          {include_blank: t("common.choose_role")},
          {class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="col justify-content-end">
      <%= f.submit t("button.search"), class: "btn btn-success" %>
      <%= link_to t("button.reset"), admin_courses_path, remote: true, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
