<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= favicon_link_tag asset_path(Settings.favicon_logo) %>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/custom" %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script async
            defer
            crossorigin="anonymous"
            src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0&appId=314656803056504&autoLogAppEvents=1" nonce="NzMPd3Wy">
    </script>
    <%= render partial: "shared/toastr" %>
    <%= render "layouts/header" %>
    <div class="content bg-light">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
