<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/custom" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="content bg-light">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
